body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 60px;
    background-color: #ecbfc9 ;
}

/* GIFs */
#questionGif,
#fireworks {
    width: 300px;
    margin: 20px auto;
    display: block;
}

/* Fireworks hidden at start */
#fireworks {
    display: none;
}

/* Buttons */
button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}
